* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-weight: 400;
  color: #2e2e2e;
  background-color: #efefef;
}
body .align-center {
  text-align: center;
}

body div {
  max-width: 1200px;
  margin: 0 auto;
}
body div p, body div li, body div span {
  font-size: 1.2em;
  font-weight: 400;
  font-family: "Open Sans";
  line-height: 1.4;
  color: #2e2e2e;
}
body div h1, body div h2, body div h3, body div h4, body div h5, body div h6 {
  color: #ff652f;
  font-size: 2em;
  font-family: "Comforter", cursive;
  line-height: 1.4;
}

.main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
}
.main p {
  color: #2e2e2e;
  font-weight: 500;
}
.main .main__paragraph {
  font-size: 1.2em;
  font-weight: 400;
  transition: all 0.5s ease;
}
.main .main__paragraph:hover {
  color: #ff652f;
  cursor: pointer;
}

.error:hover, .error--serious:hover {
  background-color: #fee;
}

.error--serious {
  border-width: 3px;
}

.offset-margin {
  margin-left: 120px;
  width: calc(100% - 120px);
}

.wrapper input.field {
  box-shadow: none;
  border-radius: 5px;
}

.wrapper select.field {
  box-shadow: none;
  border-radius: 5px;
  -webkit-backdrop-filter: none;
}

.next {
  height: 100px;
  width: 100px;
  border-color: transparent;
  border-style: solid;
  border-width: 50px;
  border-bottom-color: #333285;
}

.icon-40px {
  font-size: 40px;
  height: 40px;
  width: 40px;
}

.icon-50px {
  font-size: 50px;
  height: 50px;
  width: 50px;
}

.icon-80px {
  font-size: 80px;
  height: 80px;
  width: 80px;
}

.icon-eye:before {
  display: inline-block;
  font-family: "Icon Font";
  content: "\f112";
}

.icon-start:before {
  display: inline-block;
  font-family: "Icon Font";
  content: "\f12e";
}

.icon-stop:before {
  display: inline-block;
  font-family: "Icon Font";
  content: "\f12f";
}

.icon-eye:before {
  display: inline-block;
  font-family: "Icon Font";
  content: "\f112";
  font-size: 12px;
}

.icon-start:before {
  display: inline-block;
  font-family: "Icon Font";
  content: "\f12e";
  font-size: 16px;
}

.icon-stop:before {
  display: inline-block;
  font-family: "Icon Font";
  content: "\f12f";
  font-size: 10px;
}

.super {
  font-size: 12.3609394314px;
}

code {
  background-color: #6b717f;
  color: #d2e1dd;
}
